<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/inicio/<%=user.id%>">04nfaPassword</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/inicio/<%=user.id%>">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/explorar/<%=user.id%>">Explorar noticias</a>
        </li>
      </ul>
      <hr class="d-lg-none"> 
      <form class="d-flex">
        <a href="/nuevosnegocios/<%=user.id%>"><button class="btn btn-outline-primary me-2" type="button">Subir noticia</button></a>
        <a href="/perfilnegocio/<%=user.id%>"><button class="btn btn-outline-success me-2" type="button">Mis noticias</button></a>
        <a href="/logout"><button class="btn btn-outline-danger me-2" type="button">Cerrar Sesión</button></a>
        <a class="navbar-brand" href="/perfil/<%=user.id%>">
          <img src="/Usuarios/images/<%= user.foto %>" width="35" height="35" class="rounded-circle d-inline-block align-top me-1" alt="">
          <%=user.usuario%>
        </a>
      </form>
    </div>
  </div>
</nav>
