<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>

<style>
    body {
        background-image: url('/Usuarios/images/<%= user.foto %>'); /* Ruta de la imagen de fondo */
        background-size: cover;
        background-position: center;
        overflow: hidden; /* Evita que el desenfoque se muestre más allá del límite del body */
    }

    .card {
        backdrop-filter: blur(10px); /* Desenfoque para la tarjeta */
        background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente para mantener la legibilidad */
    }
</style>
<div class="container mt-5">
    <form action="/perfil" method="post" enctype="multipart/form-data">
        <div class="card mt-5 mx-auto" style="max-width: 700px; margin: 30px;">
            <div class="card-header text-center bg-light">
                <h1>Perfil</h1>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= user.id %>">
                <input type="hidden" name="fotoAnterior" id="fotoAnterior" value="<%= user.foto %>">
                <input type="hidden" name="admin" id="admin" value="">
                <div class="mb-4 text-center">
                    <div class="position-relative mx-auto rounded-circle overflow-hidden" style="width: 150px; height: 150px; border: 5px solid #fff;">
                        <img src="/Usuarios/images/<%= user.foto %>" alt="Foto de perfil" class="img-fluid rounded-circle position-absolute top-0 start-50 translate-middle-x" style="width: auto; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <div class="form-group row mb-3 justify-content-center">
                    <label for="nombre" class="col-sm-3 col-form-label text-end">Nombre:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" value="<%= user.nombre %>" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                    </div>
                </div>
                <div class="form-group row mb-3 justify-content-center">
                    <label for="usuario" class="col-sm-3 col-form-label text-end">Usuario:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" value="<%= user.usuario %>" name="usuario" id="usuario" placeholder="Usuario">
                    </div>
                </div>
                <div class="form-group row mb-3 justify-content-center">
                    <label for="correo" class="col-sm-3 col-form-label text-end">Correo:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" value="<%= user.correo %>" name="correo" id="correo" placeholder="Correo">
                    </div>
                </div>
                <div class="form-group row mb-3 justify-content-center">
                    <label for="foto" class="col-sm-3 col-form-label text-end">Cambiar Foto:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="file" name="foto" id="foto">
                        <small class="form-text text-muted">Selecciona una nueva imagen de perfil</small>
                    </div>
                </div>
                <input class="form-control mb-3" type="hidden" value="" name="password" id="password" placeholder="Password">
            </div>
            <div class="card-footer text-center bg-light">
                <button class="btn btn-primary mb-3 me-2">Editar Usuario</button>
                <button class="btn btn-danger mb-3" type="reset">Eliminar</button>
            </div>
        </div>
    </form>
</div>



<%- include("../templates/pie") %>